:root {
  --primary-color: #067b95;
  --primary-color-dark: #004555;
  --primary-color-light: #ebe5fc;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --gray400: #ced4da;
  --red700: #842029;
  --red100: #f8d7da;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  list-style: none;
}

.frame {
  background-color: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--gray400);
  box-shadow: 0px -5px 0px 0px #67c0c2;
  gap: 16px;
  padding: 32px;
}

.tarefas {
  width: 1100px;
}

.main-logo-container {
  margin: 48px 0 48px 0;
}

.main-logo-container .logo {
  height: 65px;
  width: 347px;
}

.logo {
  height: 32px;
  width: 169px;
}

.logo img {
  height: inherit;
  width: inherit;
}

.title {
  font-weight: bold;
}

.btn {
  color: #fff;
  background: var(--primary-color);
}

.btn:hover {
  color: #fff;
  background: var(--primary-color-dark);
}

.btn-excluir {
  font-weight: bold;
  color: var(--red700);
  background: var(--red100);
}

.btn-excluir:hover {
  color: #fff;
  background: var(--red700);
}

.footer {
  border-top: 1px solid var(--gray400);
}

.footer-content {
  width: 1100px;
  padding: 48px 0 48px 0;
  gap: 32px;
}
